<mat-spinner *ngIf="false"></mat-spinner>

<mat-card *ngIf="(true)">
  <form (submit)="1">
    <mat-form-field>
      <input matInput type="email" placeholder="Enter valid email" 
      name="mail" required>
      <mat-error>
        Please enter a valid email.
      </mat-error>
    </mat-form-field>
    
    <br>
    <mat-form-field>
      <input matInput type="password"
        name='pss' placeholder="Enter password" 
        required>
      <mat-error>
        Please enter a valid password
      </mat-error>
    </mat-form-field> 
    <br>
    <div>
      <button mat-raised-button type="submit"
      color="primary">{{ 'login' === 'login'? 'Login': 'Signup'}}</button>
    </div>
    
  </form>
</mat-card>

<mat-card class='not-found' *ngIf="('notFound' === 'notFound' && !true)">
  <h2>Post not found!</h2>
</mat-card>
