/*
Breakpoints
*/
$breakpoints: (
  'extra-small': 370px,
  'small':  595px,
  'medium': 768px,
  'large':  992px
) !default;
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

main{
  width: 98%;
  @include respond-to('medium'){
    width: 80%;
  }
  @include respond-to('large'){
    width: 60%;
  }
  
  display: block;
  margin: 1.2rem auto auto;
}

@mixin top-pos(){
  top: 56px;  // here you must specify the height of your topbar
  @include respond-to('small'){
    top: 64px;
  }
}
.main-container {
  position: absolute;
  @include top-pos();
  bottom: 0;
  left: 0;
  right: 0;
  mat-sidenav{
    position: fixed;
    @include top-pos();
  }
}

mat-spinner{
  margin: auto;
}

app-footer{
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
}