/*
Breakpoints
*/
$breakpoints: (
  'small':  576px,
  'medium': 768px,
  'large':  992px
) !default;
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

main{
  width: 98%;
  @include respond-to('medium'){
    width: 80%;
  }
  @include respond-to('large'){
    width: 60%;
  }
  
  display: block;
  margin: 1.2rem auto auto;
}

mat-spinner{
  margin: auto;
}