/*
Breakpoints
*/
$breakpoints: (
  'small':  576px,
  'medium': 768px,
  'large':  992px
) !default;
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}


mat-card{
  mat-form-field{
    margin: 0.5rem auto;
    display: block;
    .mat-input-element{
      line-height: 150%;
    }
  }
  .preview-image{
    width: 100%;
    @include respond-to('medium'){
      width: 70%;
    }
  }
}


.shadow-box{
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}