<mat-spinner *ngIf="isLoading$|async as isLoading else doneLoading"></mat-spinner>
<ng-template #doneLoading>
  <div *ngIf="(postsData$ | async) as data">
    <app-posts [posts]="data.posts" (delete)="onDelete($event)"></app-posts>
    <mat-paginator [pageIndex]="currentPage-1" [pageSize]="postsPerPage" [length]="data.maxPosts"  [pageSizeOptions]="[5,10,25,100]" (page)="onPage($event)"></mat-paginator>
    <div class="mat-body-1" *ngIf="data.posts.length <= 0">
      <p>No posts added yet</p>
    </div>
  </div>
</ng-template>
